extends schedulo-main 

block main 
  section#home 
    header 
      h1 Welcome to Schedulo! 
      img(src="./images/coffee-maker.png", alt="tiny coffee maker")

  ul 
    li 
      a(href="/schedule")
        h2 Current Schedule
    li 
      a(href="/employees")
        h2 Employees
