doctype html 

html(lang="en-CA")

  head 
    title Welcome to Schedulo! 
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")

  body 
    header 
      h1 Welcome to Schedulo!
      if errorMessages && errorMessages.length > 0
        ul.flash
          each message in errorMessages
            li.error= message

      block headerLinks 

    main 
      block main

// <a target="_blank" href="https://icons8.com/icon/43117/add">Add</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>