doctype html 

html(lang="en-CA")

  head 
    title Welcome to Schedulo! 
    meta(charset="UTF-8")
    //- link(rel="stylesheet" href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="/stylesheets/application.css")

  body 
    header 
      block headerLinks 

    main 
      -let messageTypes = Object.keys(flash || {});
      if messageTypes.length > 0
        ul 
          each messageType in messageTypes 
            each message in flash[messageType]
              li.flash(class="messageType")= message 

      block main