doctype html 

html(lang="en-CA")

  head 
    title Welcome to Schedulo! 
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")

  body 
    header 
      h1 Welcome to Schedulo!

      block headerLinks 

    main 
      -let messageTypes = Object.keys(flash || {});
      if messageTypes.length > 0
        ul 
          each messageType in messageTypes 
            each message in flash[messageType]
              li.flash(class="messageType")= message 

      block main

// <a target="_blank" href="https://icons8.com/icon/43117/add">Add</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>