doctype html 

html
  head 
    title Welcome to Schedulo! 
    meta(charset="UTF-8")
  body 
    header 
      h1 Who's on the schedule today: 
    main 
      p No notes today.

// <a target="_blank" href="https://icons8.com/icon/43117/add">Add</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>