body {
  background-color: #e0c0c0;
  font-size: 24px;
  font: normal 20px "PT Sans", Helvetica, Arial, sans-serif;
}

body > header {
  margin: 0 auto;
  max-width: 1000px;
  padding: 55px 0 35px;
}

body > header h1 {
  /* color: #dd5f4f; */
  display: flex;
  font-size: 30px;
  width: 38%;
}

body > header .actions {
  display: inline-block;
  text-align: right;
  width: 60%;
}

img {
  display: block;
  margin: 0 auto;
  width: 75%;
}

h1, p {
  text-align: center;
}

h1 {
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
}

table {
  display: inline-table;
  text-align: center;
  background-color: #a2a8e0;
  width: 90%;
  padding: 50px;
  margin: 1rem auto;
  margin-left: 70px;
}

th,td {
  padding: 7px 10px 10px 10px;
}

th {
  text-transform: uppercase;
}

td {
  border: 2px solid #000;
}

.flag {
  width: 100px;
}

.current img {
  border: 2px solid blue;
  padding: 2px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}

li {
  margin: 1rem;
}

#employees .button-delete {
  background: transparent url("../images/delete.png") 0 3px no-repeat;
  height: 75px;
  /* margin: -12px 0 0; */
  width: 70px;
}

/* #employees .button-delete:hover {
  opacity: 2;
} */

/* #employees > tr td .delete {
  background: transparent url("../images/delete.png") 0 3px no-repeat;
  height: 27px;
  margin: -12px 0 0;
  opacity: 0.4;
  right: 20px;
  width: 24px;
}

#employees > tbody > td button.delete:hover {
  opacity: 1;
}

#employees table tbody td button::before {
  content: "";
  display: inline-block;
  height: 24px;
  margin: 0 7px 0 0;
  vertical-align: -6px;
  width: 24px;
}

#employees table tbody td button.delete::before {
  background: transparent url("../images/delete.png") 0 0 no-repeat;
  border: 2px solid transparent;
} */