body {
  background-color: #e0c0c0;
  font-size: 24px;
  font: normal 20px "PT Sans", Helvetica, Arial, sans-serif;
}

body > header {
  margin: 0 auto;
  max-width: 1000px;
  padding: 55px 0 35px;
}

body > header h1 {
  /* color: #dd5f4f; */
  display: flex;
  font-size: 30px;
  width: 38%;
}

body > header .actions {
  margin: 0 auto;
  padding: 0 20px 0 100px;
  display: inline-block;
  text-align: right;
  width: 100%;
}

img {
  display: block;
  margin: 0 auto;
  width: 75%;
}

h1, p {
  text-align: center;
}

h1 {
  color: black;
  text-decoration: none;
}

/* a {
  text-decoration: none;
} */

table {
  display: inline-table;
  text-align: center;
  background-color: #a2a8e0;
  width: 90%;
  padding: 50px;
  margin: 1rem auto;
  margin-left: 70px;
}

th,td {
  padding: 7px 10px 10px 10px;
}

th {
  text-transform: uppercase;
}

td {
  border: 2px solid #000;
}

.flag {
  width: 100px;
}

.current img {
  border: 2px solid blue;
  padding: 2px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}

li {
  margin: 1rem;
}

#home img {
  max-width: 5%;
  max-height: 5%;
}

#employees .button-delete {
  background: transparent url("../images/delete.png") 0 3px no-repeat;
  height: 75px;
  /* margin: -12px 0 0; */
  width: 70px;
}

.flash {
  font-size: 1.25rem;
  font-weight: bold;
  list-style-position: inside;
  margin: 0 2rem;
  max-width: 100%;
}

.flash li {
  margin: 0.5rem auto;
  padding: 0.5rem 2rem;
}

.error {
  background-color: #ffcfbf;
  color: #ff6633;
}

.success {
  background-color: #a0f0a0;
  color: #33cc99;
}

.info {
  background-color: #cbe5f2;
  color: #3399cc;
}